{% extends 'base.html' %} {% block content %} {{mensaje}} {{error}}

<div class="row">
  <div class="col-md-4 offset-md-4">
    <main class="container">
      <form action="" method="POST" class="card card-body">
        {% csrf_token %} {{form.as_p}}
        <div class="text-left">
          <button class="btn btn-primary">Send</button>
        </div>
      </form>
    </main>
  </div>
</div>

<!-- <form action="" method="POST">
  <button>Send</button>
</form> -->

{% endblock %}
