{% extends 'base.html' %} {% block content %}
<h3>{{error}}</h3>
<p>Tarea {{id}} de {{cantidad}}</p>
<h1>Task Details</h1>
{{form}}
<h2>{{task.title}}:</h2>
<p>{{task.description}}</p>

<p>{{task.datecompleted}}</p>
<p>{{task.important}}</p>
<p>{{task.user_id}}</p>
{{task}}
<form action="{% url 'editar' task.id %}" method="POST">
  {% csrf_token %}
  <button>Editar</button><br />
</form>

<form action="{% url 'complete_task' task.id %}" method="POST">
  {% csrf_token %}
  <button>Complete</button>
</form>

<form action="{% url 'delete_task' task.id %}" method="POST">
  {% csrf_token %}
  <button>Delete</button>
</form>

{% endblock %}
