{% extends 'header.html' %} {% block content %}
<h1>BOLSA by YAHOO</h1>
<br />
<form action="{% url 'bolsa' %}" method="POST">
  {% csrf_token %}
  <div class="col-md-2">
    <label for="validationDefault01" class="form-label">Desde</label>
    <input
      type="text"
      class="form-control"
      id="validationDefault01"
      placeholder="aaaa-mm-dd"
      name="desde"
      value=""
      required
    />
  </div>
  <div class="col-md-2">
    <label for="validationDefault02" class="form-label" name="hasta"
      >Hasta</label
    >
    <input
      type="text"
      class="form-control"
      id="validationDefault02"
      placeholder="aaa-mm-dd"
      name="hasta"
      value=""
      required
    />
  </div>

  <div class="col-md-2">
    <label for="validationDefault03" class="form-label">Intervalos</label>
    <select
      type="text"
      class="form-select"
      id="validationDefault03"
      name="intervalo"
      required
    >
      <option selected disabled value="">Seleccione frecuencia</option>
      {% for intervalo in intervalos %}
      <option>{{intervalo}}</option>
      {% endfor %}
    </select>
  </div>
  <!-- <div class="col-md-2">
    <label for="validationDefault04" class="form-label">Instrumento</label>
    <select type="text" class="form-select" id="validationDefault04" required>
      <option selected disabled value="">{{instrumentos}}</option>
      {% for instrumento in instrumentos %}
      <option>{{instrumentos}}</option>
      {% endfor %}
    </select>
  </div> -->

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
<div>{% autoescape off %} {{ plot_div }} {% endautoescape %}</div>

<br />

{% endblock %}
