{% extends 'header.html' %} {% block content %}
<h1>BOLSA by YAHOO</h1>
<br />
<form action="{% url 'bolsa' %}" method="POST">
  {% csrf_token %}
  <div class="col-md-2">
    <label for="validationDefault01" class="form-label">Desde</label>
    <input
      type="text"
      class="form-control"
      id="validationDefault01"
      placeholder="2010-07-01"
      value=""
      required
    />
  </div>
  <div class="col-md-2">
    <label for="validationDefault02" class="form-label">Hasta</label>
    <input
      type="text"
      class="form-control"
      id="validationDefault02"
      placeholder="2023-05-18"
      value=""
      required
    />
  </div>

  <div class="col-md-2">
    <label for="validationDefault03" class="form-label">Intervalos</label>
    <select type="text" class="form-select" id="validationDefault03" required>
      <option selected disabled value="">{{intervalos}}</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="validationDefault04" class="form-label">State</label>
    <select class="form-select" id="validationDefault04" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="validationDefault05" class="form-label">Zip</label>
    <input type="text" class="form-control" id="validationDefault05" required />
  </div>
  <div class="col-12">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="invalidCheck2"
        required
      />
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
<div>{% autoescape off %} {{ plot_div }} {% endautoescape %}</div>

<br />

{% endblock %}
