{% extends 'header.html' %} {% block content %}
<h1>Precio Close</h1>
{% for ks in test.hola %}
   
  <p>{{ks}}</p>
  
{% endfor %}
<table class="table table-striped">
  
  <tbody>
    
    <br />
    
    {% for item in minutos %}
          
      <th scope="row"> {{ item.tiempo }} </th>
        {% if item.color == 'red' %}
        <td style="background: rgb(248, 85, 85);">{{item.simbolo}} </td>
        {% endif %}
        {% if item.color == 'green' %}
        <td style="background: rgb(65, 212, 77);">{{item.simbolo}} </td>
        {% endif %}
        {% if item.color == 'yelow' %}
        <td style="background: rgb(230, 233, 38);">{{item.simbolo}} </td>
        {% endif %}
      
           
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
